<div class="navi">
    <table class="main">
        <tr>
            <td class="title">
                <table>
                    <tr>
                        <td><a href="/">MedVantage Admin Console</a></td>
                        <td>Login</td>
                    </tr>
                </table>
            </td>
            <td class="info">
                <table>
                    <tr>
                        <td></td>
                        <td>Please Login</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
